decord==0.6.0
einops==0.8.0
imageio==2.34.1
numpy==1.26.4
omegaconf==2.3.0
opencv_python==4.10.0.84
pandas==2.2.2
Pillow==10.3.0
pytorch_lightning==2.3.3
PyYAML==6.0.1
setuptools
torch
torchvision
tqdm==4.65.0
transformers==4.25.1
moviepy
av
xformers
gradio
timm
scikit-learn 
open_clip_torch==2.22.0
kornia
torchtune
safetensors
triton
tensorboard